<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Menu Item</title>
</head>
<body>
    <h1>Edit Menu Item</h1>
    <p>Name:</p>
    <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id)}}" method="POST">
        <input type="text" name="name" placeholder="{{item.name}}">
        <input type="submit" value="Edit">
    </form>
    <a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}">Cancel</a>
</body>
</html>
